*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
html
{
    height: 500vh;
}
/*CABEÇAÇHO*/
.conteiner
{
    max-width: 1280px;
    margin: auto;
}
.flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header
{
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}
header.rolagem
{
    background-color: rgba(255, 255, 255, 0.068);
    padding: 15px 4%;
}
header.rolagem a
{
    color: black;
}

header i
{
    color: rgb(255, 255, 255);
}
header ul
{
    list-style-type: none;
}
header ul li
{
    display: inline-block;
    margin: 0 40px;
}
header ul li:hover
{
    background-color: antiquewhite;
}
header ul li a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
}
.btn-ball
{
    height: 50px;
    min-height: 2px;
    width: 50px;
    min-width: 2px;
    background-image: url(../img/bola_bg_botão.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-ball a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/*FIM CABEÇAÇHO*/

/* */
.banner
{
    height: 100vh;
    background-image: url(../img/Backgound.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.sobre
{
    height: 50vh;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre h1
{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.txt-sobre
{
    width: 75%;    
}
